{{#if onChangePage}}
<div class="page-select">
	<div class="md-table-label">Page:</div>
	<PaperTableSelect @options={{pages}} @selected={{page}} @onChange={{onChangePage}} as |pageNumber|>
		{{pageNumber}}
	</PaperTableSelect>
</div>
{{/if}}
<div class="limit-select">
	<div class="md-table-label">Rows per page:</div>
	<PaperTableSelect @options={{limitOptions}} @selected={{limit}} @onChange={{onChangeLimit}} as |limit|>
		{{limit}}
	</PaperTableSelect>
</div>
<div class="buttons">
	{{#if total}}<div class="label">{{startOffset}} - {{endOffset}} of {{total}}</div>{{/if}}
	<PaperButton @disabled={{disableDecrement}} @iconButton={{true}} @onClick={{onDecrementPage}}>
		{{paper-icon "navigate before"}}
	</PaperButton>
	<PaperButton @disabled={{disableIncrement}} @iconButton={{true}} @onClick={{onIncrementPage}}>
		{{paper-icon "navigate next"}}
	</PaperButton>
</div>
